{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{form|crispy}}
        <h1>POSTTI oshiriwge tayinsizba?</h1>
        <button type="submit" class="text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg">AWA</button>
       
        <a href="{% url 'homepage' %}"><button type="button" class="text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg">cansel</button></a>
    </form>
{% endblock content %}