{% extends 'base.html' %}
{% load static  %}

{% block content %}
    <div class="container">
        <div class="card">
            <div class="card-header" >{{post.title}}</div>
            <div class="card-body">
                <img  src="{{ post.image.url }}" alt="qwert">
                <p >{{ post.discription  }}</p>
            </div>
            <div class="card-footer"><h5 style="margin-left: 450px;" >{{ post.created }}</h5>
                <a href="{% url 'update_post' post.id%}">update</a>
                <a href="{% url 'delete_post' post.id %}">Delete</a>
            </div>
        </div>
    </div>    
{% endblock content %}
