{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="card">
            <div class="card-header" >{{post.title}}</div>
            <div class="card-body">
                <img  src="{{ post.image.url }}" alt="qwert">
                <p >{{ post.discription  }}</p>
            </div>
            <div class="card-footer">
                <h3 class="card-footer">{{ post.created }}</h3>
                <h3 class="card-footer"><a href="{% url 'update_post' post.id%}">update</a></h3>
                <h3 class="card-footer"><a href="{% url 'delete_post' post.id %}">Delete</a></h3>
            </div>
        </div>
    </div>    
{% endblock content %}
